body {
  font-size: 16px;
  color: #2e2f42;
}

/* header */

ul {
  list-style-type: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: #2e2f42;
}

.link:hover {
  text-decoration: none;
  color: #404bbf;
}

/* footer */

.page-footer {
  background-color: #2e2f42;
}

.ft-p {
  color: #e7e9fc;
}

/* Hero section */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
}

.btn-hero {
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.btn-hero:hover {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* section-second */

.list-second-section h2 {
  color: #2e2f42;
}

.list-second-section p {
  color: #434455;
}

/* section-third */

.section-third h2 {
}

/* fourth-section */

.fourth-section {
  background-color: #f4f4fd;
}

.list-fourth-section p {
  color: #434455;
}

.card {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
